{% extends "principal/base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Historial de turnos</h2>

        <a href="{% url 'caja_diaria' %}" class="btn btn-secondary">
            ← Volver a Caja
        </a>
    </div>

    <div class="table-responsive">

        <table class="table table-bordered table-striped align-middle">

            <thead>
                <tr>
                    <th>Operador</th>
                    <th>Sucursal</th>
                    <th>Apertura</th>
                    <th>Cierre</th>
                    <th>Total cobrado</th>
                    <th>Gastos</th>
                    <th>Saldo neto</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>

                {% for turno in turnos %}

                <tr>
                    <td>
                        {{ turno.usuario.get_full_name|default:turno.usuario.username }}
                    </td>

                    <td>
                      {% if turno.sucursal %}
                         {{ turno.sucursal }}
                      {% else %}
                          -
                      {% endif %}
                    </td>

                    <td>
                        {{ turno.fecha_apertura|date:"d/m/Y H:i" }}
                    </td>

                    <td>
                        {% if turno.fecha_cierre %}
                            {{ turno.fecha_cierre|date:"d/m/Y H:i" }}
                        {% else %}
                            -
                        {% endif %}
                    </td>

                    <td>${{ turno.total_cobrado }}</td>
                    <td>${{ turno.total_gastos }}</td>
                    <td>${{ turno.saldo_neto }}</td>

                    <td>
                        {% if turno.abierto %}
                            <span class="badge bg-success">
                                Abierto
                            </span>
                        {% else %}
                            <span class="badge bg-secondary">
                                Cerrado
                            </span>
                        {% endif %}
                    </td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="7" class="text-center">
                        No hay turnos registrados.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}